<configuration>

  <logger name="ch.qos.logback" level="OFF"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5level - %msg%n</pattern>
    </encoder>
  </appender>

  <if condition='isDefined("ELS_LOGGER_URL")'>
    <then>
      <appender name="ELASTIC" class="com.internetitem.logback.elasticsearch.ElasticsearchAppender">
        <url>${ELS_LOGGER_URL}/_bulk</url>
        <index>bad-boy-%date{yyyy.MM}</index>
        <type>log</type>
        <errorsToStderr>true</errorsToStderr>
        <headers>
          <header>
            <name>Content-Type</name>
            <value>application/json</value>
          </header>
        </headers>
        <properties>
          <property>
            <name>log.class</name>
            <value>%logger</value>
          </property>
          <property>
            <name>log.level</name>
            <value>%level</value>
          </property>
          <property>
            <name>host.name</name>
            <value>${HOSTNAME}</value>
          </property>
          <property>
            <name>exception</name>
            <value>%xThrowable{full}</value>
          </property>
        </properties>
      </appender>
    </then>
  </if>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
    <if condition='isDefined("ELS_LOGGER_URL")'>
      <then>
        <appender-ref ref="ELASTIC" />
      </then>
    </if>
  </root>

</configuration>
